p{
    color: rgb(0, 0, 0);
}
h1{
    color: olive;
}
.image{
    max-width: 100%;  
    height: auto;  
}
.Header2{
    background-color: rgb(15, 223, 67);
    color: rgb(0, 0, 0);
    text-align: center;
}